[submodule "Perceptual_loss_for_real_time_style_transfer"]
	path = Perceptual_loss_for_real_time_style_transfer
	url = https://github.com/chenyunwen/Perceptual_loss_for_real_time_style_transfer.git
[submodule "a-neural-algorithm-of-artistic-style"]
	path = a-neural-algorithm-of-artistic-style
	url = https://github.com/chenyunwen/a-neural-algorithm-of-artistic-style.git
[submodule "PyTorch-Multi-Style-Transfer"]
	path = PyTorch-Multi-Style-Transfer
	url = https://github.com/chenyunwen/PyTorch-Multi-Style-Transfer.git
[submodule "reconet-torch"]
	path = reconet-torch
	url = https://github.com/chenyunwen/reconet-torch.git
[submodule "ReReVST-UX-Wrapper"]
	path = ReReVST-UX-Wrapper
	url = https://github.com/chenyunwen/ReReVST-UX-Wrapper.git
[submodule "DIPServer2"]
	path = DIPServer2
	url = https://github.com/YenYu-Tung/DIPServer2.git
